
/*----------
 last section
 -----------*/

 .last-part{
    display: flex;
    margin-top: 20px;
    margin-bottom: 95px;
    
}

img[alt='image']{
    width: 100%;
    margin-left: 150px;
    margin-top: 50px;
    
}

#footer{
    width: 100%;
    height: 160px;
    background-color: #0A0826;
}

#footer h4{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}

#footer p{
    color: white;
    text-align: center;
    font-size: 15px;
}

.footer-icons{
    margin-left: 240px;
    width: 50%;
}

.fa-twitter{
    font-size: 40px;
    color: white;
    
}

.fa-linkedin{
    font-size: 40px;
    color: white;
    
}

.fa-instagram{
    font-size: 40px;
    color: white;
}

.fa-facebook-square{
    font-size: 40px;
    color: white;
}