/*------------------------------
   navigation-bar
-------------------------------*/

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-bar-text{
    color: #3A3A3A;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-top: 87px;
    margin-left: 120px;
    
}

.nav-elements{
    display: flex;
    margin-top: 95px;
    margin-right: 120px;
}

.nav-link{
    display: flex;
}



a[href='https://github.com/ProgrammingHero1']{
    color: #3A3A3A;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size:  16px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 34px;
  
}

.item-animation::after {
    content: "";
    background-color: #ABB2B9;
    width: 0;
    height: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition-property: width;
    transition-duration: 0.5s;
}

.item-animation:hover::after {
    width: 100%;
    
}


img[src='https://img.icons8.com/ios-glyphs/30/000000/search--v2.png']{
    margin-right: 34px;
}












