@media only screen and (max-width: 688px){

    .nav-container{
      
        flex-direction: column;
        align-items: center;
    }

    .first-part{
       

        flex-direction: column;
        align-items: center;
    }
    .screen{
        width: 100%;
        height: 100%;
    }

    .nav-bar-text{
        margin-right: 200px;
    }

    .collection-container{
        grid-template-columns: repeat(2,1fr);
    }

    .last-part{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #footer{
        height:100px;
    }

 
}