/*-----------------
Popular-Collection 
-------------------*/



.third-part-header{
    font-family: Poppins;
    color: #3A3A3A;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    
}

.collection-container{
    display: grid;
    grid-template: repeat(3,476px)/ repeat(3,329px);
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}

.inline{
    display: inline-block;
}

.shadow{
    box-shadow: 6px 6px 15px 5px gray;
    border-radius: 10px;
}

.shadow img{
    width: 100%;
}

.fas{
    color: orange;
}

.take-margin{
    padding-left: 15px;
}

.font-style{
    font-weight: bold;
}

img[alt='gear']{
  
    height: 280px;
}

img[alt='camera']{
   
    height: 280px;
}

.button-two{
    color: #E02C6D;
   margin-left: 1185px;
   border: none;
   background-color: white;
   margin-top: 10px;
}